:root {
    --main: #4285F4;
    --black: #000000;
    --white: #ffffff;
    --gray-light: #eeeeee;
    --gray-dark: #333333;
    --navy: #326ccd;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

a {text-decoration: none; outline: none;}
a:hover, a:active {text-decoration: none;}
a:visited {color: var(--main);}

button {font-family: Pretendard-Regular; cursor: pointer;}

h2 {margin: 0;}
h3 {margin: 0;}
h5 {font-size: 16px; margin: 0; font-weight: 400;}
h6 {font-size: 12px; margin: 0; font-weight: 400;}

html, body {padding: 0; margin: 0; height: 100%; font-family: Pretendard-Regular; -ms-overflow-style: none; position: relative; -ms-overflow-style: none; -webkit-tap-highlight-color: rgba(0,0,0,0); text-align: center;}

header {height: 700px;}
.about {height: 100%; background-image: url('/img/bg.jpg'); background-size: auto, 100%; background-position: center; background-repeat: no-repeat; background-attachment: fixed;}
.about>span {display: block;}
.logo {width: 80px; height: 80px; padding-top: 100px;}
.logo_text {padding: 10px 0 80px 0; max-width: 100%; height: auto;}
.about>h5 {color: var(--white); padding: 0 10px 0 10px;}
.btn_enter {margin-top: 180px; width: 250px; height: 50px; background-color: var(--main); border: 0; color: var(--white); font-size: 20px; border-radius: 4px;}
.btn_enter:hover {background-color: var(--navy);}

main {width: 100%; height: auto;}
article {position: relative; left: 50%; transform: translateX(-50%);}

.how {height: 430px;}
.class {padding-top: 40px;}
.class>img {width: 640px; max-width: 100%; margin: 20px 0;}
.class>h3 {padding-bottom: 10px;}
.class>h5 {padding-bottom: 20px;}

.who {min-height: 500px; background-image: url(/img/bg_iceberg.jpg); background-repeat: no-repeat; background-size: cover;}
.who>h2 {padding: 40px 0 20px 0;}
section {display: flex; justify-content: center; flex-wrap: wrap;}
.coach {min-width: 300px; height: 350px; background: var(--white); border-radius: 10px; margin: 10px 20px 20px 20px; box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.3);}
.coach>h3 {padding: 20px 0;}

.where {height: 560px; background-color: var(--gray-light);}
.where>h2 {padding: 40px 0 20px 0;}
.map>iframe {max-width: 640px;}
.where>h5 {padding: 20px 0 10px 0;}
.where>h6>a {color: var(--main);}

footer {width: 100%; height: 150px; background-color: var(--gray-dark); color: var(--white);}
.sns {height: 50px; padding-top: 20px;}
.sns>button {width: 40px; height: 40px; margin: 0 4px; font-size: 24px; background: transparent; color: var(--white); border: 0;}
.sns>button:hover {color: var(--main);}
.copyright {margin-top: 8px;}
.copyright>h5 {font-style: italic; margin-bottom: 4px;}

.scroll {height: 100px; position: fixed; bottom: 10px; right: 10px; display: flex; justify-content: center; flex-direction: column;}
.scroll>button {width: 40px; height: 40px; border-radius: 40px; border: 0; margin-top: 8px; background-color: var(--main); color: var(--white);}
.scroll>button:hover {background-color: var(--navy);}
.btn_top {font-size: 16px;}
.btn_join {font-size: 12px;}
